body{
    margin:  0;
    color: white;
    background: linear-gradient(to right, #424242, #242424);
    /*text-align: center;*/
}
/*body {
    background: black;
}*/


div[style*="title"]{
    text-align: center;
    color: #E9A734;
}
[style*="BottomPage"]{
    /*color:  blue;*/
    position: fixed;
    bottom: 0;
}
div[style*="div::BottomPage"]{
    /*color:  blue;*/
    position: fixed;
    bottom: 0;
}

[style*="indent"]{
    text-indent: 40px;
}

/* unvisited link */
a:link {
  color: sandybrown;
}

/* visited link */
a:visited {
  color: sandybrown;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
/*a:active {
  color: black;
} */

.clock {
    position: absolute;
    top: 0%;
    left: 0%;
    /*transform: translateX(-50%) translateY(-50%);*/
    color: #E9A734;
    font-size: 15px;
    font-family: Orbitron;
    letter-spacing: 2px;
}